table,tr,td{border: 1px solid black}

td#shade-1 { background-color: #B2BEB5;}

td#shade-2{ background-color: #7393B3;}

td#shade-3{ background-color: #36454F;}

td#shade-4{ background-color: #A9A9A9;}

td#shade-5{ background-color: #6082B6;}

td#shade-6{ background-color:	#808080;}

td#shade-7{ background-color: #818589;}

td#shade-8{ background-color: #D3D3D3;}

td#shade-9{ background-color: #899499;}

td#shade-10{ background-color:#E5E4E2;}