@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');


/* @font-face{ font-family:Science Gothic ;
    src: url(./static/ScienceGothic-Black.ttf);
} */

div {
font-family: Science Gothic, Helvetica, sans-serif;
background-color: lightblue;
border: 3px solid;
padding: inherit;
font-weight: 900;
text-transform: lowercase ;
text-decoration: overline;
/* line-height: 2em; */
text-indent: 2em;
text-align: justify;
text-shadow: 3px 4px 5px red;

}

div:first-letter{text-transform: capitalize;
    color: blue;

}
div::first-line{ color: green;}


a:link{
    color: deeppink;
    text-decoration: none;
    
}

a:visited{
    color: green;
}